<div class="row" id="emprunt">
    <div class="col-1 icon" [ngSwitch]="userCote.cote.document.support.id">      
      <i class="material-icons" *ngSwitchCase="1">book</i>
      <i class="material-icons" *ngSwitchCase="2">album</i>
      <i class="material-icons" *ngSwitchCase="3">help_outline</i>
      <i class="material-icons" *ngSwitchCase="4">movie</i>
      <i class="material-icons" *ngSwitchDefault>help_outline</i>    
    </div> 
    <div class="col desc">    
      <h4>{{userCote.cote.document.libelle}}</h4>   
      <hr>  
      <div>
          Auteur: <a *ngFor="let auteur of userCote.cote.document.auteurs" routerLink="/results/auteur/id/{{auteur.id}}">
            {{auteur.libelle}}
          </a>
      </div>  
      <div class="row">
        <div class="col-2">
          Côte: {{userCote.cote.libelle}}
        </div>
        <div class="col-3">
          {{userCote.cote.library.libelle}}
        </div>
        <div class="col-5">
          Date de réservation: {{userCote.dateReservation| date:"shortDate"}}
        </div>
        
      </div>
    </div>
  </div>
  
      
   