  <div class="col-1 icon" [ngSwitch]="document.type">      
    <i class="material-icons" *ngSwitchCase="1">book</i>
    <i class="material-icons" *ngSwitchCase="2">album</i>
    <i class="material-icons" *ngSwitchCase="3">help_outline</i>
    <i class="material-icons" *ngSwitchCase="4">movie</i>
    <i class="material-icons" *ngSwitchDefault>help_outline</i>    
  </div> 
  <div class="col-11 desc">
    <a routerLink="/results/detail/{{document.id}}">
      <h4>{{document.libelle}}</h4> 
    </a>   
    <div>
      <a routerLink="document/auteur/{{document.auteur}}" >Auteur: {{document.auteur}}</a>
    </div>   
    <div>
      <a routerLink="document/editeur/{{document.editeur}}">Editeur: {{document.editeur}}</a>
    </div>   
    <div>
      Date: {{document.date | date:'shortDate' }}
    </div>
  </div>  
  


