<div id="detail">
  <div id="back">
    <button mat-button (click)="goBack()">
      <i class="material-icons">chevron_left</i>
      Go Back To Results
    </button>
  </div>
  <div class="box-shadow" id="document">
    <div class="row no-gutters align-items-center" id="header">
      <div class="col-1 icon" [ngSwitch]="document.support.id">      
        <i class="material-icons" *ngSwitchCase="1">book</i>
        <i class="material-icons" *ngSwitchCase="2">album</i>
        <i class="material-icons" *ngSwitchCase="3">help_outline</i>
        <i class="material-icons" *ngSwitchCase="4">movie</i>
        <i class="material-icons" *ngSwitchDefault>help_outline</i>    
      </div> 
      <div class="col desc">
        <h4>{{document.libelle}}</h4>    
        <div>
            Auteur: <a *ngFor="let auteur of document.auteurs" routerLink="/results/auteur/id/{{auteur.id}}">
              {{auteur.libelle}}
            </a>
        </div>   
        <div>
            Editeur: <a routerLink="/results/editeur/id/{{document.editeur.id}}">
              {{document.editeur.libelle}}
            </a>
        </div>   
        <div>
          Date: {{document.date}}
        </div>
      </div> 
    </div>   
    <mat-tab-group>
      <mat-tab label="Exemplaires">
        <div class="tab-content">
          <div *ngFor="let cote of document.cotes"> 
            <a routerLink="/cote/{{cote.libelle}}">{{cote.libelle}} </a>
            <span>: {{cote.library.libelle}} </span>          
          </div>
        </div> 
      </mat-tab>
      <mat-tab label="Metadata">
        <div class="tab-content">
          <h3>[placeholder]</h3> 
        </div>
      </mat-tab>      
    </mat-tab-group>  
  </div>     
</div>