<div id="main-menu">
  <div class="row">
    <div class="col">
      <h3>Welcome, {{user.civil.prenom}}</h3>
    </div>
  </div>  
  <div class="row justify-content-around">
    <div class="menu col-12 col-sm-12 col-md-5 col-lg-5" id="info">
      <div class="desc row">
        <div class="col-8">Visualize and Edit Your Personal Info</div>
        <i class="material-icons col-4">face</i>
      </div>
      <div class="link">
        <a routerLink="/account/info">
          <span>Go To Your Personal Information Page</span>
        </a>
      </div>
    </div>
    <div class="menu col-12 col-sm-12 col-md-5 col-lg-5" id="documents">
      <div class="desc row">
        <div class="col-8">Manage Your Borrowed Books</div>
        <i class="material-icons col-4">book</i>
      </div>
      <div class="link">
        <a routerLink="/account/documents">
          <span>Go To Your Borrowed Books Page</span>          
        </a>
      </div>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="menu col-12 col-sm-12 col-md-5 col-lg-5" id="reservations">
      <div class="desc row">
        <div class="col-8">Manage Your Reservations</div>
        <i class="material-icons col-4">bookmarks</i>
      </div>
      <div class="link">
        <a routerLink="/account/reservations">
          <span>Go To Your Reservations Page</span>
        </a>
      </div>
    </div>
  </div>
</div>