#title {
    color: rgba(0,0,0,.54);    
    padding: 8px 20px;
}  

.filters {
    margin: 0;
    padding: 1%;    
    min-width: min-content;  
}

.results {    
    padding-left: 4% ;
}
app-element {
    height: 110px;
    margin: 0 0 1% 0;    
}

.header {
    padding: 0 0 1% 0;
}


