#searchbar {
    height: 50px;
    background-color: orange;    
}

#select {
    height: 35px;
}

#textfield {
    height: 35px;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    border: none;
    border-radius: 2px;
}

a {
    text-decoration: none;
}
