<div class="container-fluid">
  <div class="row justify-content-md-center align-items-center" id="searchbar">
    <div class="col-2">      
      <mat-label>Recherche de document</mat-label>
    </div>
    <div class="col-1" id="select"> 
      <mat-select [(value)] = "select" class="input">
        <mat-option value = "document">Titre</mat-option>
        <mat-option value = "auteur">Auteur</mat-option>
        <mat-option value = "editeur">Editeur</mat-option>        
      </mat-select>     
    </div>
    <div class="col-2">      
      <input matInput type="text" class="input" id="textfield" placeholder="Tapez ici" [formControl]="libelle"/>
    </div>      
    <div class="col-1">      
      <a mat-flat-button routerLink="/{{select}}/libelle/{{libelle.value}}">
        <i class="material-icons">search</i>
        Rechercher</a>
    </div>
    <div class="col-1">
      <a mat-flat-button routerLink="">Login</a>
    </div>    
    <div class="col-1">
      <button mat-flat-button [matMenuTriggerFor]="menu">
        <i class="material-icons">account_circle</i>
        {{username}}                
        <i class="material-icons">arrow_drop_down
          <mat-menu #menu="matMenu">
            <button mat-menu-item>              
              <i class="material-icons">settings</i>
              Settings
            </button>
            <button mat-menu-item>
              <i class="material-icons">cancel</i>
              Logout
            </button>
          </mat-menu>
        </i>
      </button>
    </div>
  </div>               
</div>

