<div class="w-100">
  <div class="row justify-content-end align-items-center" id="searchbar"> 
    <div class="col-1">
      <button mat-button routerLink="/">
        <i class="material-icons">home</i>
        Home
      </button>
    </div>   
    <div class="col-2"></div>
    <div class="col-1"> 
        <mat-select [(value)]="select">
            <mat-option value="any">Tous</mat-option>
          <mat-option value="libelle">Titre</mat-option>
          <mat-option value="auteur">Auteur</mat-option>
          <mat-option value="editeur">Editeur</mat-option>        
        </mat-select> 
    </div>
    <div class="col-4 flex justify-content-end" id="input">  
      <a routerLink="/advancedSearch" id="advanced-search-button" mat-flat-button >
        <i class="material-icons">add</i>        
      </a>        
      <input class="col" id="textfield" matInput type="text"  placeholder=" Recherche de document" value="" [formControl]="libelle" [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>          
      <button id="search-button" mat-flat-button (click)="search()">
        <i class="material-icons">search</i>
      </button>      
    </div>
    <div class="col-2"></div>
    <div class="col-2" *ngIf="!isLoggedIn">
      <button mat-button (click)="openLoginDialog()" class="button">
          <i class="material-icons">vpn_key</i>
        <span> Login</span>
      </button>
    </div>    
    <div class="col-2" *ngIf="isLoggedIn">      
      <button mat-button [matMenuTriggerFor]="menu" class="button">        
        <i class="material-icons">account_circle</i>
        {{username}}                
        <i class="material-icons">arrow_drop_down</i>
      </button>
      <mat-menu #menu="matMenu">          
        <button mat-menu-item routerLink="/account">                                
          <i class="material-icons">settings</i>
          <span>Settings</span>                 
        </button>        
        <button mat-menu-item (click)="logOut()">
            <i class="material-icons">cancel</i>
          <span>Logout</span>
        </button>
      </mat-menu>     
    </div>
    <div class="col-1"></div>
  </div>               
</div>

