#searchbar {
    height: 50px;    
    background-color:  orange;
}

#textfield {
    height: 35px;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    border: none;
    border-radius: 2px;
}

button, a {
    font-size: 18px;
    background-color: orange;
}

.button:hover {
    color: rgb(77, 144, 254);
    outline-color: rgb(77, 144, 254);
    border: 1px solid rgb(77, 144, 254);;
    border-radius: 5px;
}


