#searchbar {
    height: 50px; 
    padding-top: 4px; 
    background-color: orange;     
}

.material-icons {
    text-align: center;
}

#textfield {
   border: none;  
   padding: 0; 
   margin: 0;    
}

button, a {
    font-size: 18px;  
    border-radius: 3px;  
}

/* .button:hover {
    color: rgb(77, 144, 254);
    outline-color: rgb(77, 144, 254);
    border: 1px solid rgb(77, 144, 254);
    border-radius: 3px;
} */

#input {
    border: none;
    border-radius: 3px;
    background-color: white;
    padding: 0;
}

#search-button {
    padding: 0;
    background-color: #008bff;
    color: white; 
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#advanced-search-button {
    font-size: 0.8em;
    padding: 0 5px ;
    border: none;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#advanced-search-menu {
    width: 650px;
    padding: 3%;
}

::ng-deep div.mat-menu-panel {    
    max-width: none;
}

