<div>
  <h6>Auteurs: {{auteurs.length}}</h6>
  <div *ngFor="let auteur of auteurs">
    <button mat-button (click)="addFilter('auteurs', auteur[0])">{{auteur[0]}} ({{auteur[1]}})</button>
  </div>
</div>
<hr>
<div>
  <h6>Support: {{supports.length}}</h6>
  <div *ngFor="let support of supports">
    <button mat-button (click)="addFilter('support', support[0])">{{support[0] | titlecase}} ({{support[1]}})</button>
  </div>
</div>
<hr>
<div>
  <h6>Editeur: {{editeurs.length}}</h6>
  <div *ngFor="let editeur of editeurs">
    <button mat-button (click)="addFilter('editeur', editeur[0])">{{editeur[0]}} ({{editeur[1]}})</button>
  </div>
</div>
<hr>
<div>
  <h6>Theme: {{themes.length}}</h6>
  <div *ngFor="let theme of themes">
    <button mat-button (click)="addFilter('themes', theme[0])">{{theme[0]}} ({{theme[1]}})</button>
  </div>
</div>


