<div id="account">
  <div class="w-100" id="title">
      <h2>Mon Compte</h2>
  </div> 
  <div class="row">
      <div class="col-md-4 col-lg-3 d-none d-md-block">            
        <a routerLink="/account">    
          <div class="row">                                
            <i class="col-2 material-icons" >person</i>
            <span class="col-8">Home</span>
            <i class="col-1 material-icons" >chevron_right</i>                  
          </div>
        </a>              
        <a routerLink="/account/info">
          <div class="row">                  
            <i class="col-2 material-icons" >face</i>  
            <span class="col-8">Informations Perso</span>                    
            <i class="col-1 material-icons" >chevron_right</i>
          </div>
        </a>
        <a routerLink="/account/documents">
          <div class="row">                  
            <i class="col-2 material-icons" >book</i>
            <span class="col-8">Documents Empruntés</span>
            <i class="col-1 material-icons" >chevron_right</i>
          </div>
        </a>
        <a routerLink="/account/reservations">
          <div class="row">                  
            <i class="col-2 material-icons" >bookmarks</i>
            <span class="col-8">Réservations</span>
            <i class="col-1 material-icons" >chevron_right</i>                  
          </div>
        </a>            
      </div>
      <div class="col-lg-1 d-none d-lg-inline"></div>
      <div class="col-11 col-sm-11 col-md-7 col-lg-6">
          <router-outlet></router-outlet>        
      </div>   
  </div>
</div>